@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@600&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #F8F0FC;
    color: #6C0551;
    text-align: center;
}

@keyframes load_appearance_h1 {
    from {
        opacity: 0;
    } to {
        opacity: 100;
    }
}
@keyframes load_appearance_informations {
    from {
        opacity: 0;
        transform: translateX(-15%);
    } 
    to {
        opacity: 100;
        transform: translateX(0);
    }
}
@keyframes load_appearance_set_glass_capacity {
    from {
        opacity: 0;
        transform: translateX(15%);
    } 
    to {
        opacity: 100;
        transform: translateX(0);
    }
}
@keyframes load_appearance_add_to_counter {
    from {
        opacity: 0;
        transform: translateX(-15%);
    } 
    to {
        opacity: 100;
        transform: translateX(0);
    }
}

h2, h3 {
    font-family: 'Oswald', sans-serif;
    margin: 30px 0 20px 0;
}
p {
    font-family: 'Lato', sans-serif;
    margin-bottom: 10px;
}

h1 {
    background-color: #6C0551;
    color: #F8F0FC;
    padding: 20px;
    margin-bottom: 20px;
    opacity: 0;
    animation: 600ms ease-out forwards load_appearance_h1;
}
button {
    border: 1px solid black;
    padding: 5px;
    margin-top: 5px;
    background-color: #6C0551;
    color: #F8F0FC;
    border-radius: 5px;
    transition: all ease-in-out 100ms;
    cursor: pointer;
}
button:hover {
    background-color: #F8F0FC;
    color: #6C0551;
}
input {
    padding: 5px;
}

.informations {
    transform: translateX(-15%);
    opacity: 0;
    animation: 600ms ease-out 200ms forwards load_appearance_informations;
}
.set_glass_capacity {
    transform: translateX(15%);
    opacity: 0;
    animation: 600ms ease-out 400ms forwards load_appearance_set_glass_capacity;
}
.add_to_counter {
    transform: translateX(-15%);
    opacity: 0;
    animation: 600ms ease-out 600ms forwards load_appearance_add_to_counter;
}